* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  margin: 0 auto;
  width: 100%;
}

.header,
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1f2937;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1320px;
  height: 100px;
  background: #1f2937;
}

.hero-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1320px;
  height: 650px;
}

.header-logo {
  font-size: 24px;
  font-weight: 700;
  color: #f9faf8;
}

.nav-menu {
  display: flex;
  gap: 20px;
  list-style: none;
}

.nav-link,
.hero-text,
.hero-button,
.hero-image,
.signup-text,
.copyright {
  font-size: 18px;
  text-decoration: none;
  color: #e5e7eb;
}

.nav-link {
  transition: all 0.5s ease;
}

.nav-link:hover {
  color: #3882f6;
}

.hero-title {
  width: 400px;
  font-size: 50px;
  font-weight: 900;
  color: #f9faf8;
}

.hero-text {
  margin-top: 10px;
  width: 470px;
}

.hero-button {
  margin-top: 10px;
  width: 130px;
  height: 40px;
  font-weight: 700;
  border-radius: 10px;
  background: #3882f6;
  transition: all 0.5s ease;
  cursor: pointer;
}

.hero-button:hover {
  color: #3882f6;
  background: #fff;
}

.hero-image {
  width: 700px;
  height: 400px;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 900px;
  height: 600px;
}

.info-title {
  margin-top: 75px;
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}

.info-items {
  display: flex;
  justify-content: space-between;
  margin-top: 75px;
  width: 100%;
}

.info-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 190px;
  height: auto;
}

.info-image {
  width: 190px;
  height: 190px;
  border: 5px solid #3882f6;
  border-radius: 20px;
}

.info-text {
  margin-top: 10px;
  width: 170px;
  font-size: 18px;
  text-align: center;
  color: #5c6571;
}

.quote {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e5e7eb;
}

.quote-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 800px;
  height: 437px;
}

.quote-text {
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
  line-height: 120%;
  color: #1f2937;
}

.quote-author {
  font-size: 20px;
  font-weight: 700;
  text-align: right;
}

.signup {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 500px;
}

.signup-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 150px;
  width: 1320px;
  height: 200px;
  border-radius: 10px;
  background: #3882f6;
}

.signup-title {
  font-size: 28px;
  font-weight: 700;
  color: #f9faf8;
}

.signup-text {
  margin-top: 5px;
}

.signup-button {
  width: 130px;
  height: 40px;
  font-size: 18px;
  font-weight: 700;
  color: #f9faf8;
  border: 2px solid #f9faf8;
  border-radius: 10px;
  background: #3882f6;
  transition: all 0.5s ease;
  cursor: pointer;
}

.signup-button:hover {
  color: #3882f6;
  background: #fff;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1f2937;
}

.footer-wrap {
  display: flex;
  align-items: center;
  height: 100px;
}